---
layout: default
--- 

{% for post in site.posts %}
<div id="{{ post.id }}" class="unit whole align-left post">
	<article itemscope itemtype="http://schema.org/BlogPosting">
		<h2>{{ post.title }}<br><small>{{ post.date | date: "%b %-d, %Y" }}</small></h2>
		
		<div class="post-content">
			{{ post.content }}
		</div>

		{% if post.author %}
		<p class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
			<span itemprop="name">Ein Artikel von {{ post.author }}</span><br>
		</p>
		{% endif %}
		{% if post.tags %}
		<span>
			<i class="icon ion-pricetags"></i>	
			{% for tag in post.tags %}
			<span class="tag">{{ tag }}</span>&ensp;
			{% endfor %}
		</span>
		{% endif %}

	</article>
</div>
{% endfor %}