---
layout: default
---
<div class="grid">
{% assign c = 0 %}{% assign d = 1 %}{% for p in site.data.works %}{% if d == 0 %}
</div>
<div class="grid">
<div class="unit one-third">
<div class="card">
    <div class="card-content">
        <h3>{{ p.name }}<br><small>{{ p.description }}</small></h3>
    </div>
    <div class="card-action">
        <a href="{{ p.link }}" class="btn"><i class="icon ion-link"></i> LINK</a>
        {% if p.github %}
        <a href="{{ p.link }}" class="btn"><i class="icon ion-social-github"></i> REPO</a>        
        {% endif %}
    </div>
</div>
</div>
{% else %}
<div class="unit one-third">
<div class="card">
    <div class="card-content">
        <h3>{{ p.name }}<br><small>{{ p.description }}</small></h3>
    </div>
    <div class="card-action">
        <a href="{{ p.link }}" class="btn"><i class="icon ion-link"></i> LINK</a>
        {% if p.github %}
        <a href="{{ p.link }}" class="btn"><i class="icon ion-social-github"></i> REPO</a>        
        {% endif %}
    </div>
</div>
</div>
{% endif %}{% assign c=c | plus:1 %}{% assign d=c | modulo:3 %}{% endfor %}
</div>
{% for %}