body{
    font-family: 'Playfair Display', serif;
    font-size: 16.5px;
}
h1{
    font-size: 42px;
    font-weight: 500;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 28px;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 400;
    margin: 20px 5px 0px;
}

img{
    max-width: 100%;
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    display: list-item;
    text-align: -webkit-match-parent;
    list-style-type: none;
    margin: 0;
}
small{
    font-size: 13px;
    line-height: 16px;
}
a{
    text-decoration: none;
    color: #db4646;
}
a:hover{
    color: #b21c1c;
}
a:active{
    color: #910b0b;
}
.github-icon:hover{
    color: #85d063;
}
.twitter-icon:hover{
    color: #1da0f2;
}
.rss-icon:hover{
    color: #f49c52;
}
.btn{
    box-shadow: none;
    background-color: transparent;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    cursor: pointer;
    transition: background-color .2s;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    color: #343434;
    text-decoration: none;
}
.btn:focus, .btn:hover {
    background-color: rgba(0,0,0,0.1);
    box-shadow: none;
}
.btn:active {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: none;
}
.btn.disabled, btn:disabled {
  background-color: transparent !important;
  color: #b3b3b3 !important;
  cursor: default;
}
.my-blog-column{
    background: #fcf0ea;
}
.my-post{
    margin-top: 30px;
}
.my-author{
    font-size: 17.5px;
    font-weight: 400;
}
